@import "tailwindcss";

@layer base {
  :root {
    --font-mono: 'JetBrains Mono', monospace;
    --font-sans: 'Plus Jakarta Sans', sans-serif;
  }

  body {
    font-family: var(--font-sans);
    background-color: #030712;
    color: #f3f4f6;
  }
}

.font-mono-code {
  font-family: var(--font-mono);
}

/* Custom engineering scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0b0f19;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
